page-login {
    .image-container{
      background-size: cover;
      min-height: 200px;
    }
    .scroll-content {
      padding-bottom: 0 !important;
    }
    .login-content {
      background-image: url('../assets/img/background.jpg');
      background-size: cover;
        .logo-row {
          padding-top: 20px;
          padding-bottom: 40px;
        }
        .img-logo{
          padding:20%;
        }
      }
}
