<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="login-content scroll-content" scroll="false" no-bounce>
        <ion-row class="logo-row">

                <ion-col>
                  <img class="img-logo" src="assets/img/temulogo.png"/>
                </ion-col>

        </ion-row>
        
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <ion-list>
                <ion-item>
                    <ion-label fixed>Email : </ion-label>
                    <ion-input type="email" name="email" required placeholder="Email Address" ngModel></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label fixed>Password : </ion-label>
                    <ion-input type="password" name="password" required placeholder="Password" ngModel></ion-input>
                </ion-item>
            </ion-list>
            <button ion-button type="submit" color="tamu" block [disabled]="!f.valid">Sign in </button>
        </form>
        <button ion-button block clear (click)="registerAccount()" color="tamu">Create New Account</button>
    </ion-content>
