<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="primary">
      <ion-buttons start>
        <button ion-button menuToggle >
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons> 
      <ion-title>Create New Account</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <form #form="ngForm" (ngSubmit)="signUp(form)">
        <ion-list>
            <ion-item>
                <ion-label fixed>Email : </ion-label>
                <ion-input type="email" name="email" required placeholder="Email Address" ngModel></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Password : </ion-label>
                <ion-input type="password" name="password" required placeholder="Password" ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-label fixed>Name : </ion-label>
              <ion-input type="text" name="name" placeholder="Full name" ngModel></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Gender : </ion-label>
                <ion-select name="gender" ngModel>
                  <ion-option value="m">Laki-laki</ion-option>
                  <ion-option value="f">Perempuan</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>DoB :</ion-label>
                <ion-datetime name="dob" displayFormat="MM/DD/YYYY" ngModel></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label fixed>Job : </ion-label>
                <ion-input type="text" name="job" placeholder="Job" ngModel></ion-input>
            </ion-item>

        </ion-list>
        <button ion-button type="submit" block color="tamu">Register</button>
    </form>
  </ion-content>
  