<ion-tabs color="tamu">
  <ion-tab [root]='dashboardPage'
  tabIcon='home'></ion-tab>
  <ion-tab [root]='chatPage'
  tabIcon='text'></ion-tab>
  <ion-tab [root]='profilePage'
  tabIcon='contact'></ion-tab>
</ion-tabs>