<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title style="color:white;">Request Meeting Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-content>
            <ion-card-title style="font-weight:bold; margin-left:10px;">
                {{request['desc']}}
            </ion-card-title>
            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <p>From :</p>
                    </ion-col>
                    <ion-col>
                        <p>{{request['requester']}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <p>Location :</p>
                    </ion-col>
                    <ion-col>
                        <p>{{request['location']}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <p>Date :</p>
                    </ion-col>
                    <ion-col>
                        <p>{{tanggal}}</p>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf='flag'>
                    <ion-col col-4>
                        <button style="background-color:green" ion-button full (click)="acceptrequest()">Accept</button>
                    </ion-col>
                    <ion-col col-4>
                        <button style="background-color:red" ion-button full (click)="rejectrequest()">Reject</button>
                    </ion-col>
                    <ion-col col-4>
                        <button ion-button full (click)="back()">Back</button>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf='!flag'>
                    <ion-col col-12>
                        <button ion-button full (click)="back()">Back</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
