<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <ion-buttons start>
          <button ion-button menuToggle>
              <ion-icon name="menu" color="white"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <button ion-button full color="tamu" (click)="openAlert()">Request Meeting</button>
  <div padding>
    <ion-segment [(ngModel)]="cat">
      <ion-segment-button value="received">
        Request Inbox
      </ion-segment-button>
      <ion-segment-button value="requested">
        My Request
      </ion-segment-button>
      </ion-segment>
  </div>
  
  <div [ngSwitch]="cat">
    <ion-list *ngSwitchCase="'received'">
      <button style="background-color:ghostwhite; margin-top:5px;" ion-item *ngFor = 'let request of requestinbox' (click)="presentActionSheet(request)">
        <ion-grid>
            <ion-row>
                <ion-col col-8 class="mdesc">
                    <ion-row>
                        <ion-col col-12>
                            <h2 class="bold">{{request['desc']}}</h2>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>
                            <p>From   : </p>
                        </ion-col>
                        <ion-col col-8>
                            <p class="classA"> {{request['requester']}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>
                            <p>Status :</p>
                        </ion-col>
                        <ion-col col-8>
                            <p style="color:red" *ngIf="request['status'] == 'Rejected'"> {{request['status']}}</p>
                            <p style="color:green" *ngIf="request['status'] == 'Accepted'"> {{request['status']}}</p>
                            <p style="color:blue" *ngIf="request['status'] == 'requested'"> {{request['status']}}</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
     </button>
    </ion-list>
  
    <ion-list *ngSwitchCase="'requested'">
        <button style="background-color:ghostwhite; margin-top:5px;" ion-item *ngFor = 'let request of myrequest' (click)="openModal(request)">
            <ion-grid>
                <ion-row>
                    <ion-col col-8 class="mdesc">
                        <ion-row>
                        <ion-col col-12>
                            <h2 class="bold">{{request['desc']}}</h2>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>
                            <p>From   : </p>
                        </ion-col>
                        <ion-col col-8>
                            <p class="classA"> {{request['email']}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>
                            <p>Status :</p>
                        </ion-col>
                        <ion-col col-8>
                            <p style="color:red" *ngIf="request['status'] == 'Rejected'"> {{request['status']}}</p>
                            <p style="color:green" *ngIf="request['status'] == 'Accepted'"> {{request['status']}}</p>
                            <p style="color:blue" *ngIf="request['status'] == 'requested'"> {{request['status']}}</p>
                        </ion-col>
                    </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
            </button>
   </ion-list>
  </div>
</ion-content>
