<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button menuToggle>
                <ion-icon name="menu" color="white"></ion-icon>
            </button>
          </ion-buttons>
        <ion-title>{{interlocutor.name}}</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
        <div class="message-wrap">
            <ion-list>
                <ion-item>
                    <div *ngFor="let msg of msgList"
                        class="message"
                        [class.left]=" interlocutor.name === msg.fromUserName "
                        [class.right]=" msg.fromUserName !== interlocutor.name "
                        >
                        <!--
                            *ngFor="let msg of msgList" 
                            [class.left]=" msg.userId === toUser.id "
                        [class.right]=" msg.userId === user.id " -->
                        <!-- <img class="user-img" [src]="msg.userAvatar" alt="" src="">
                        <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
                        <div class="msg-detail">
                            <div class="msg-info" *ngIf="msg.fromUserName !== interlocutor.name">
                                <p>
                                    Me<!-- &nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}  -->
                                </p>
                            </div>
                            <div class="msg-info" *ngIf="interlocutor.name === msg.fromUserName">
                                <p>
                                    {{msg.fromUserName}}<!-- &nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}  -->
                                </p>
                            </div>
                            <div class="msg-content">
                                <span class="triangle"></span>
                                <p class="line-breaker ">
                                    {{msg.message}}
                                </p>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
    
    <ion-footer no-border style="margin-top:-10px">
        <ion-grid class="input-wrap">
            <ion-row>
                <ion-col col-10>
                    <ion-textarea #chat_input
                                  placeholder="Text Input"
                                  [(ngModel)]="editorMsg"
                                  (keyup.enter)="sendMsgAlt()"
                                  (focus)="onFocus()">
                    </ion-textarea>
                </ion-col>
                <ion-col col-2>
                    <button ion-button clear icon-only item-right (click)="sendMsgAlt()">
                        <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- <emoji-picker *ngIf="showEmojiPicker" [(ngModel)]="editorMsg"></emoji-picker> -->
    </ion-footer>