<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <ion-buttons start>
          <button ion-button menuToggle>
              <ion-icon name="menu" color="white"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
    
    <ion-list>
        <ion-grid>
                <ion-row>
                  <ion-col class="preview" col-6 (click)="changeImage()">
                    <ion-avatar>
                        <img [src]="image"/>
                    </ion-avatar>
                  </ion-col>
                  <ion-col col-6>
                        <button ion-button block color="tamu" item-right (click)="changeImage()" >Choose...</button>
                  </ion-col>
              </ion-row>
        </ion-grid>
    </ion-list>
        <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
        <ion-list>
        <ion-item>
            <ion-label fixed>Name : </ion-label>
            <ion-input type="text" name="name" placeholder="Full name"[(ngModel)]="name" value="asd"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Gender : </ion-label>
            <ion-select name="gender" [(ngModel)]="gender">
              <ion-option value="m">Laki-laki</ion-option>
              <ion-option value="f">Perempuan</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>DoB :</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" name="dob" [(ngModel)]="dob"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label fixed>Job : </ion-label>
            <ion-input type="text" name="job" placeholder="Job" value="{{job}}" [(ngModel)]="job"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button type="submit" block color="tamu" [disabled]="!f.valid">Save</button>
</form>
</ion-content>

