<!--
  Generated template for the ChatlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-searchbar
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
      <ion-buttons start>
          <button ion-button menuToggle>
              <ion-icon name="menu" color="white"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list >
    <!-- <ion-item *ngFor='let person of interlucotor'
              navPush="Chat"
              [navParams]="person"> -->
    <ion-item *ngFor='let person of interlucotor'
                (click)='interlocutorClick(person)'>
      <ion-avatar item-left>
        <img src="assets/img/user.png">
      </ion-avatar>
      <h2>{{person.name}}</h2>
      <p>{{person.email}}</p>
    </ion-item>
  </ion-list>
</ion-content>