<!--
  Generated template for the RequestformPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Request Meeting</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>

        <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
            <ion-list>
                <ion-item>
                    <ion-label fixed>Requester: </ion-label>
                    <ion-input fixed [(ngModel)]="email" name="email" [readonly] = "true"> </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label fixed>Period: </ion-label>
                    <ion-textarea fixed [(ngModel)]="time" name="time" [readonly] = "true" ></ion-textarea>
                </ion-item>
                <ion-item>
                        <ion-label fixed>Duration: </ion-label>
                        <ion-input fixed [(ngModel)]="duration" name="duration" type="number" > </ion-input>
                    </ion-item>
                <ion-item>
                    <ion-label fixed>Location: </ion-label>
                    <ion-input fixed [(ngModel)]="location" name="location" > </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label fixed>Note: </ion-label>
                    <ion-textarea [(ngModel)]="desc" type="text" name="desc" id= "desc" placeholder="Describe your meeting here" rows="3" ></ion-textarea>
                </ion-item>
            </ion-list>
            <button ion-button type="submit" block color="tamu" [disabled]="!f.valid">Submit</button>
        </form>
</ion-content>
