<ion-menu [content]="sideMenuContent">
        <ion-header>
            <ion-toolbar text-center color="primary">
                <h2 style="color:white">Menu</h2>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                    <button ion-item (click)="logout()" >
                            <ion-icon name="book" item-left></ion-icon>
                            Setup my schedule
                    </button>
                    <button ion-item (click)="logout()" >
                        <ion-icon name="log-out" item-left></ion-icon>
                        Log Out
                    </button>
            </ion-list>
        </ion-content>
    </ion-menu>

<ion-nav [root]="rootPage" #sideMenuContent></ion-nav>
