<!--
  Generated template for the CalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Select Date</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h3>{{email}} Schedule</h3>
    <div class="calendar" *ngIf="allevent.length > 0">
        <mwl-calendar-month-view
            [viewDate]="today"
            [events]="allevent"
            (eventClicked)="openEvent($event)"
            (dayClicked)="dayclicked($event)">
        </mwl-calendar-month-view>
    </div>
    <div class="calendar" *ngIf = "allevent.length == 0">
        <mwl-calendar-month-view
        [viewDate]="today"
        (eventClicked)="openEvent($event)"
        (dayClicked)="dayclicked($event)">
    
        </mwl-calendar-month-view>
    </div>
</ion-content>
