<!--
  Generated template for the DayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Select Time</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="calendar">
        <mwl-calendar-day-view
            [viewDate]="date"
            [events]="allEvent"
            (hourSegmentClicked)="request($event)">
        </mwl-calendar-day-view>
    </div>
</ion-content>
